[Desktop Entry]
Version=1.0
Type=Application
Name=Unicode Symbols
Comment=Browse and search for non-standard unicode symbols

Exec=audacious -f
OnlyShowIn=Unity;
