:root {
  --form-control-slider-max: 100;
  --form-control-slider-min: 0;
  --form-control-slider-value: 0;
}

.form-control.form-control-slider {
  --form-control-slider-thumb-size: 24px;
  --form-control-slider-track-width: 4px;
  /* Slider colors */
  --form-control-slider-thumb-color: rgb(var(--form-control-thumb-color));
  --form-control-slider-disabled: color-mix(in srgb, rgb(var(--black)) 70%, rgb(var(--white)) 30%);

  /* Internal */
  --form-control-slider-range: calc(var(--form-control-slider-max) - var(--form-control-slider-min));
  --form-control-slider-ratio: calc((var(--form-control-slider-value) - var(--form-control-slider-min)) / var(--form-control-slider-range));
  --form-control-slider-sx: calc(.5 * var(--form-control-slider-thumb-size) + var(--form-control-slider-ratio) * (100% - var(--form-control-slider-thumb-size)));
  --form-control-slider-track-gradient: linear-gradient(rgb(var(--form-control-active)), rgb(var(--form-control-active))) 0/var(--form-control-slider-sx) 100% no-repeat, rgb(var(--form-control-bg));

  .slider-wrap {
    padding: calc(var(--form-control-slider-thumb-size) / 2) 0;

    .slider {
      height: var(--form-control-slider-track-width);
      width: 100%; /* Specific width is required for Firefox. */
      padding: 0;
      margin: 0;
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      background: transparent; /* Otherwise white in Chrome */
      cursor: pointer;
      display: block;

      &:focus {
        outline: none;
      }

      &::-moz-focus-outer {
        border: 0;
      }

      &::-webkit-slider-thumb {
        top: calc(var(--form-control-slider-track-width) / 2);
        -webkit-appearance: none;
        height: var(--form-control-slider-thumb-size);
        width: var(--form-control-slider-thumb-size);
        background-color: var(--form-control-slider-thumb-color);
        border-radius: 100%;
        border: none;
        transform: translateY(-50%);
        color: var(--form-control-slider-thumb-color);
        transition: all .15s ease-out;
        position: relative;

        &:hover,
        &:focus {
          --form-control-slider-thumb-color: color-mix(in srgb, rgb(var(--form-control-thumb-color)) 60%, rgb(var(--theme-negative)) 40%);
        }
      }

      &::-moz-range-thumb {
        height: var(--form-control-slider-thumb-size);
        width: var(--form-control-slider-thumb-size);
        background-color: var(--form-control-slider-thumb-color);
        border-radius: 100%;
        border: none;
        color: var(--form-control-slider-thumb-color);
        transition: all .15s ease-out;

        &:hover,
        &:focus {
          --form-control-slider-thumb-color: color-mix(in srgb, rgb(var(--form-control-thumb-color)) 60%, rgb(var(--theme-negative)) 40%);
        }
      }

      &::-ms-thumb {
        height: var(--form-control-slider-thumb-size);
        width: var(--form-control-slider-thumb-size);
        background-color: var(--form-control-slider-thumb-color);
        border-radius: 100%;
        color: var(--form-control-slider-thumb-color);
        transition: all .15s ease-out;

        &:hover,
        &:focus {
          --form-control-slider-thumb-color: color-mix(in srgb, rgb(var(--form-control-thumb-color)) 60%, rgb(var(--theme-negative)) 40%);
        }
      }

      &::-webkit-slider-runnable-track {
        height: var(--form-control-slider-track-width);
        background: var(--form-control-bg);
        background: var(--form-control-slider-track-gradient);
        border-radius: var(--form-control-slider-track-width);
      }

      &::-moz-range-track {
        height: var(--form-control-slider-track-width);
        background: var(--form-control-bg);
        background: var(--form-control-slider-track-gradient);
        border-radius: var(--form-control-slider-track-width);
      }

      &::-ms-track {
        width: 100%;
        border-color: transparent;
        color: transparent;
        height: var(--form-control-slider-track-width);
        background: var(--form-control-bg);
        background: var(--form-control-slider-track-gradient);
        border-radius: var(--form-control-slider-track-width);
      }

      &::-ms-fill-lower {
        background: var(--form-control-slider-thumb-color);
      }

      &::-ms-fill-upper {
        background: var(--form-control-bg);
      }
    }
  }
}