/* Ubuntu */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu/Ubuntu-Italic.eot?02825566541389297#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.woff2?02825566541389297") format("woff2"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.woff?02825566541389297") format("woff"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.ttf?02825566541389297") format("truetype"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.svg?02825566541389297#Ubuntu") format("svg");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu/Ubuntu.eot?02825566541389297#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu/Ubuntu.woff2?02825566541389297") format("woff2"),
  url("../../assets/fonts/ubuntu/Ubuntu.woff?02825566541389297") format("woff"),
  url("../../assets/fonts/ubuntu/Ubuntu.ttf?02825566541389297") format("truetype"),
  url("../../assets/fonts/ubuntu/Ubuntu.svg?02825566541389297#Ubuntu") format("svg");
}

/* UbuntuSans */
@font-face {
  font-family: "UbuntuSans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu-sans/UbuntuSans-Italic.eot?07263998820282274#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans-Italic.woff2?07263998820282274") format("woff2"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans-Italic.woff?07263998820282274") format("woff"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans-Italic.ttf?07263998820282274") format("truetype"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans-Italic.svg?07263998820282274#UbuntuSans") format("svg");
}
@font-face {
  font-family: "UbuntuSans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu-sans/UbuntuSans.eot?07263998820282274#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans.woff2?07263998820282274") format("woff2"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans.woff?07263998820282274") format("woff"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans.ttf?07263998820282274") format("truetype"),
  url("../../assets/fonts/ubuntu-sans/UbuntuSans.svg?07263998820282274#UbuntuSans") format("svg");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Black.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Black.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Black.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Black.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Black.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-BlackItalic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-BlackItalic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-BlackItalic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-BlackItalic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-BlackItalic.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Bold.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Bold.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Bold.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Bold.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Bold.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-BoldItalic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-BoldItalic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-BoldItalic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-BoldItalic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-BoldItalic.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Italic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Italic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Italic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Italic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Italic.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Light.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Light.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Light.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Light.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Light.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-LightItalic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-LightItalic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-LightItalic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-LightItalic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-LightItalic.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Medium.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Medium.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Medium.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Medium.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Medium.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-MediumItalic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-MediumItalic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-MediumItalic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-MediumItalic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-MediumItalic.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Regular.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Regular.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Regular.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Regular.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Regular.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Thin.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-Thin.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-Thin.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-Thin.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-Thin.svg?0031374124042812035#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-ThinItalic.eot?0031374124042812035#iefix") format("embedded-opentype"),
  url("../../assets/fonts/roboto/Roboto-ThinItalic.woff2?0031374124042812035") format("woff2"),
  url("../../assets/fonts/roboto/Roboto-ThinItalic.woff?0031374124042812035") format("woff"),
  url("../../assets/fonts/roboto/Roboto-ThinItalic.ttf?0031374124042812035") format("truetype"),
  url("../../assets/fonts/roboto/Roboto-ThinItalic.svg?0031374124042812035#Roboto") format("svg");
}
