/* Ubuntu */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu/Ubuntu-Italic.eot?02825566541389297#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.woff2?02825566541389297") format("woff2"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.woff?02825566541389297") format("woff"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.ttf?02825566541389297") format("truetype"),
  url("../../assets/fonts/ubuntu/Ubuntu-Italic.svg?02825566541389297#Ubuntu") format("svg");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-stretch: 102%;
  font-display: swap;
  src: url("../../assets/fonts/ubuntu/Ubuntu.eot?02825566541389297#iefix") format("embedded-opentype"),
  url("../../assets/fonts/ubuntu/Ubuntu.woff2?02825566541389297") format("woff2"),
  url("../../assets/fonts/ubuntu/Ubuntu.woff?02825566541389297") format("woff"),
  url("../../assets/fonts/ubuntu/Ubuntu.ttf?02825566541389297") format("truetype"),
  url("../../assets/fonts/ubuntu/Ubuntu.svg?02825566541389297#Ubuntu") format("svg");
}