.form-control.form-control-hex {

  .control {

    .prefix {
      top: 1px;
      margin-right: 4px;
      color: rgb(var(--text-secondary));
      position: relative;
    }

    input {
      text-transform: uppercase;
    }
  }
}