.left-menu {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: rgb(var(--second-bg));
  border-right: 1px solid rgb(var(--border-primary));

  .group-name {
    padding: 10px 0 10px 16px;
    font-size: 14px;
    color: rgb(var(--text-secondary));
  }

  .btn-menu-item {
    height: 48px;
    width: 100%;
    color: rgb(var(--text-primary));
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;

    .menu-icon {
      width: 46px;
      text-align: center;
      line-height: 0;

      .icon {
        height: 26px;
        width: auto;
      }
    }

    .label {
      margin-left: 4px;
    }

    &:hover {
      background-color: color-mix(in srgb, rgb(var(--second-bg)) 95%, rgb(var(--text-primary)) 5%);
    }

    &.active {
      background-color: rgb(var(--accent));
      color: rgb(255 255 255);

      &:hover {
        background-color: color-mix(in srgb, rgb(var(--accent)) 95%, rgb(var(--text-primary)) 5%);
      }
    }
  }

  .preloader {
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item {
      width: auto;
      height: 36px;
      border-radius: 6px;
      background-color: rgb(var(--black) / 0.3);
    }
  }
}