.settings-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {

    .back-link {
      margin-bottom: 16px;
      color: rgb(var(--text-primary));
      font-size: 18px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .card {
      width: 500px;
      height: 400px;

      .card-row {
        padding: 16px 20px;
        border-bottom: 1px solid rgb(var(--border-primary));
        display: flex;
        align-items: center;
        justify-content: space-between;

        .option-name {
          width: 140px;
          font-weight: 400;
          color: rgb(var(--text-secondary))
        }

        .option-control {
          width: calc(100% - 140px);

          .error {
            display: none;
          }
        }
      }

      .card-row.icon-size-control {

        .option-control {
          display: flex;
          align-items: center;

          .inner-value {
            min-width: 40px;
            margin-right: 18px;
            font-size: 16px;
          }

          .inner-control {
            width: 100%;
          }
        }
      }
    }
  }
}