.settings-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {

    .back-link {
      margin-bottom: 16px;
      color: rgb(var(--text-primary));
      font-size: 18px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .card {
      width: 500px;
      height: 400px;

      .card-row {
        padding: 16px 20px;
        border-bottom: 1px solid rgb(var(--border-primary));
        display: flex;
        align-items: center;
        justify-content: space-between;

        .option-name {
          width: 140px;
          font-weight: bold;
          font-size: 16px;
        }

        .option-control {
          width: calc(100% - 140px);

          .error {
            display: none;
          }
        }
      }

      .card-row.icon-size-control {

        .option-control {
          display: flex;
          align-items: center;

          .inner-value {
            min-width: 40px;
            margin-right: 18px;
            font-size: 16px;
          }

          .inner-control {
            width: 100%;
          }
        }
      }

      .card-row.storage-usage {
        padding: 6px 20px;

        .option-control {
          display: flex;
          align-items: center;
          justify-content: end;

          .detail-info {
            width: 140px;
            font-size: 14px;
            text-align: start;
            color: rgb(var(--text-secondary));

            & > div {
              padding: 2px 0;

              .amount {
                font-size: 16px;
                color: rgb(var(--text-primary));
              }
            }
          }

          .pie-chard {
            --pie-chart-fill-active: rgb(var(--accent));
            --pie-chart-fill-bg: rgb(var(--input-bg));

            & > * {
              display: block;
            }
          }
        }
      }
    }
  }
}