.unicode-page {
  min-height: calc(100% - 20px);
  max-height: calc(100% - 20px);
  padding: 10px;
  font-size: 60px;
  overflow-y: auto;

  .table {
    max-width: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2.4em);
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-column-gap: 4px;
    grid-row-gap: 8px;
  }
}