.symbols-page {
  display: flex;

  .menu-overlay {
    width: var(--main-menu-width);
    height: 100vh;
  }

  .page-content {
    height: 100vh;
    width: calc(100vw - var(--main-menu-width));
    overflow: hidden;
    position: relative;

    .search-dropdown {
      top: 0;
      right: 0;
      width: 300px;
      padding: 10px 16px 10px 10px;
      background-color: rgb(var(--second-bg));
      border-radius: 0 0 0 8px;
      position: absolute;
      display: flex;
      transform: translateY(-100%);
      transition: all .2s ease-out;
      z-index: 30;

      .btn-pull {
        margin-left: -6px;
        padding: 4px;
      }

      .search-block {
        width: 100%;
        position: relative;

        input {
          width: 100%;
          height: auto;
          padding: 0.5rem 0.75em;
          font-size: 1rem;
          background: transparent;
          border: 1px solid rgba(var(--text-secondary) / 0.6);
          outline: none;
          box-sizing: border-box;
          color: rgb(var(--text-primary));
          border-radius: 4px;
          transition: border-color .15s ease-in-out;

          &:focus {
            border: 1px solid rgba(var(--text-primary) / 0.8);
          }
        }

        .btn-close {
          right: 4px;
          top: 8px;
          color: rgb(var(--text-secondary));
          opacity: .8;
          position: absolute;
          transition: opacity .2s ease-out;
          z-index: 3;

          &:hover {
            opacity: 1;
          }
        }
      }

      &.active {
        transform: translateY(0);
      }

      &.left {
        right: unset;
        left: 0;
        padding: 10px 10px 10px 16px;
        border-radius: 0 0 8px 0;
        flex-direction: row-reverse;

        .btn-pull {
          margin-left: 0;
          margin-right: -6px;
        }
      }
    }

    .main-loading {
      padding: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;

      > div {
        width: 60px;
        height: 80px;
        border-radius: 5px;
        background-color: rgb(var(--second-bg) / 0.5);
      }
    }

    .not-found {
      top: 50%;
      width: 400px;
      max-width: 100%;
      margin: 0 auto 0;
      transform: translateY(-50%);
      position: relative;
      opacity: 1;
    }
  }
}
