.symbols-page {
  display: flex;

  .menu-overlay {
    width: var(--main-menu-width);
    height: 100vh;
  }

  .page-content {
    height: 100vh;
    width: calc(100vw - var(--main-menu-width));
    overflow: hidden;

    .container {
      min-height: 100%;
      width: 100%;
    }
  }
}