@import-glob "css/**/*.css";
@import-glob "components/**/*.css";
@import-glob "pages/layout.css";
@import-glob "pages/**/*.css";

:root {
  color: rgba(209, 209, 209, 0.98);

  /* Constants */
  --modal-z-index: 99;

  /* Colors */
  --theme-color: 255 255 255;
  --theme-negative: 0 0 0;
  --black: 0 0 0;
  --white: 255 255 255;
  --accent: 0 115 229;
  --error: 255 0 0;
  --base-bg: 255 255 255;
  --second-bg: 248 248 248;
  --scroll-thumb: 248 248 248;
  --text-primary: 0 0 0;
  --text-secondary: 65 65 65;
  --border-primary: 199 199 199;
  --divider: 199 199 199;

  /* Forms */
  --input-bg: 233 233 233;
  --input-outline: 52 113 159;
  --input-slider-track: 90 90 90;
  --input-slider-thumb: 209 209 209;

  /* Buttons */
  --btn-primary-color: 0 115 229;
  --btn-secondary-color: 235 235 235;

  /* Modal color */
  --modal-bg-overlay: 0 0 0;
  --modal-background: 0 0 0;
  --modal-shadow: 0 0 50px rgba(10, 10, 10, 0.9);
  --modal-border-radius: 16px;
  --modal-border-color: 199 199 199;

  --main-menu-width: 260px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: 0 0 0;
    --theme-negative: 255 255 255;
    --base-bg: 30 30 30;
    --second-bg: 44 44 44;
    --scroll-thumb: 44 44 44;
    --text-primary: 255 255 255;
    --text-secondary: 209 209 209;
    --border-primary: 24 24 24;
    --divider: 71 71 71;

    /* Forms */
    --inputs-bg: 63 63 63;
    --input-outline: 52 113 159;
    --input-slider-track: 90 90 90;
    --input-slider-thumb: 209 209 209;

    /* Buttons */
    --btn-primary-color: 0 105 210;
    --btn-secondary-color: 66 66 66;

    /* Modal color */
    --modal-bg-overlay: 0 0 0;
    --modal-bg-header: 34 34 34;
    --modal-shadow: 0 0 50px rgba(10, 10, 10, 0.9);
    --modal-border-color: 24 24 24;

    /* Tooltip */
    --tooltip-bg-color: 9 9 9;
  }
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "UbuntuSans", Helvetica, Arial, sans-serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
  text-rendering: geometricPrecision;
  font-variation-settings: normal;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(var(--text-primary));
  background-color: rgb(var(--base-bg));
}

hr {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  border: 1px solid transparent;
  border-bottom-color: rgb(var(--divider));
}

.text-primary {
  color: rgb(var(--text-primary));
}

.text-secondary {
  color: rgb(var(--text-secondary));
}

.card {
  background-color: rgb(var(--second-bg));
  border: 1px solid rgb(var(--border-primary));
  border-radius: 8px;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(var(--text-primary));
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

  &.btn-primary {
    height: 34px;
    padding: 4px 14px;
    color: rgb(var(--white));
    background-color: rgb(var(--btn-primary-color));
    transition: background-color .15s ease-in-out;
    border-radius: 6px;

    &:hover {
      background-color: color-mix(in srgb, rgb(var(--accent)) 95%, rgb(var(--white)) 5%);
    }

    &:active {
      background-color: color-mix(in srgb, rgb(var(--accent)) 90%, rgb(var(--white)) 10%);
    }
  }

  &.btn-secondary {
    height: 34px;
    padding: 4px 14px;
    color: rgb(var(--text-secondary));
    background-color: rgb(var(--btn-secondary-color));
    transition: background-color .2s ease-in-out;
    border-radius: 6px;

    &:hover {
      background-color: color-mix(in srgb, rgb(var(--btn-secondary-color)) 95%, rgb(var(--theme-negative)) 5%);
    }

    &:active {
      background-color: color-mix(in srgb, rgb(var(--btn-secondary-color)) 90%, rgb(var(--theme-negative)) 10%);
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  padding: 4px 0;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(var(--scroll-thumb));
}

::-webkit-scrollbar-corner {
  display: none;
}