.character {
  height: 2em;
  width: 1.6em;
  padding: .2em .1em;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .15s linear;

  .symbol {
    height: 1.3em;
    width: auto;
    aspect-ratio: 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .code {
      font-size: 1em;
    }

    .mnemonic {
      width: 86%;
      height: 86%;
      font-size: 0.4em;
      text-align: center;
      border: 1px dashed rgb(var(--text-secondary));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .separator {
    height: .3em;
  }

  .subscribe {
    color: rgb(var(--text-secondary));
    font-size: .3em;
  }

  &:hover {
    background-color: color-mix(in srgb, rgb(var(--base-bg)) 95%, rgb(var(--text-primary)) 5%);
  }
}